*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    text-align: center;
    /*display: flex;*/
    /*justify-content: center;*/
    max-width: 1280px;
    margin: 0 auto;

}
.cabinet{
    background-image: radial-gradient(purple , #37316a, #2b154f);
    height: 957px;
    font-family: Tahoma;
}
.cabinet__header-list{
    display: flex;
    gap: 50px;
    list-style: none;

}
.cabinet__inner{
    position: relative;
}
.cabinet__header-logo{
    width: 80px;

}
.cabinet__header{
    /*position: fixed;*/
    max-width: 1280px;
    width: 100%;
    display: flex;

    align-items: center;
    gap: 20px;
    justify-content: space-between;
    background-color: rgba(7, 24, 22, 0.54);
    padding: 20px   ;
    border-radius: 20px;
    border: solid   1px gray;

}

.cabinet__exit{
    padding: 10px;
    background-color: transparent;
    color: #d565ff;
    border: solid 1px white;
    border-radius: 8px;
    text-decoration: none;
}
.cabinet__header-items_link{
    color: #82c6e7;
    text-decoration: none;
}
.cabinet__search-element_input{
    background-color: rgba(219, 200, 200, 0.33);
    padding: 10px 5px;
    margin-top: 4px;
    border: solid 1px gray;
    border-radius: 5px;
    margin-top: 40px;
}
.cabinet__header-items:nth-child(1){
    border-bottom: solid 2px #b289f1;
}