*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-image: radial-gradient(purple , #37316a, #2b154f);
    /*height: 957px;*/
}
.login{

    font-family: Tahoma;
}
.container{

    display: flex;
    justify-content: center;
    max-width: 1280px;
    padding: 40px;
    margin: 0 auto;

}
.login__inner{
    position: relative;
    display: flex;
    max-width: 500px;
    align-items: center;
    background-color: rgba(7, 24, 22, 0.54);
    color: white;
    padding: 100px;
    justify-content: center;
    border-radius: 10px;
    margin-top: 200px;
    border: solid 1px gray;



}

.login__inner:hover{
    box-shadow: 40px 40px 40px black ;
    transition: 1s;
    transform: scale(1.05);


}
.login__name{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 40px;
    border: none;
}
.login__password{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 40px;
    border: none;
}
.login__btn{
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.login__registration-forgot_password{
    display: flex;
    justify-content: space-between;
    margin-top:20px;




 }
.login__create_account{
    text-decoration: none;
    color: rgba(248, 248, 248, 0.61);
  }
.login__forgot_password{
    text-decoration: none;
    color: rgba(201, 212, 192, 0.52);
}
.login__name{
    background-color: rgba(219, 200, 200, 0.33);
    padding: 10px 5px ;
    margin-top: 4px;
    border: solid 1px gray;
}
.login__password{
    background-color: rgba(219, 200, 200, 0.33);
    padding: 10px 5px ;
    margin-top: 4px;
    border: solid 1px gray;

}
.login__btn{
    background-image: radial-gradient(#82c6e7);
    padding: 10px;
    color: white;
}
.incorrect{
    color: red;


}